

body {
	background-color: red;
	
	
}

h1, h2, h3, h4 {
	color: white;
	
	}
	
	p{
			color: white;
	}



ul {

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	display: inline-block;
	list-style-type: none;


}



li {
    float: left;

}




a {
    display: block;
    padding: 10px;
    background-color: red;
	color: white;
		
}
.container:hover .text{
	
	
}

/* Change the link color when hovering */
a:hover {
    background-color: grey;
}

/* keep the navbar from being unlined */
a:link {
    text-decoration: none;
}


* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;margin:0}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;  
 display: center;
    margin-left:auto  ;
    margin-right: auto
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: 15px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}



}
.mySlides fade {
	text-align: auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

